body {
	background-color: #F5F6F8;
	font-family: monospace;
	font-color: #000000;
}

/* For VERY SMALL devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.main {
		float: left;
		width: 95%;
		padding-left: 2%;
		padding-right: 3%;
	}
	
	.normal {
		line-height: 1.4;
		font-size: 4.5vw;
	}
	
	.break {
		font-style: italic;
		font-size: 4.3vw;
		text-align: center;
		padding-top: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-left: 3%;
		background-color: #BCBCBC;
	}
	
	.regular {
		width: 100%;
		font-style: italic;
		font-size: 4.3vw;
		text-align: left;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: #BCBCBC;
		border: none;
	}
	
	td.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	th.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	h1.title {
		font-size: 8vw;
	}
	
	span.archivedate {
		font-size: 4.1vw;
		color: #4F4F4F;
	}
}

/* For SMALL devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.main {
		float: left;
		width: 90%;
		padding-left: 3%;
		padding-right: 7%;
	}
	
	.normal {
		line-height: 1.4;
		font-size: ;
	}
	
	.break {
		font-style: italic;
		font-size: ;
		text-align: center;
		padding-top: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-left: 3%;
		background-color: #BCBCBC;
	}
	
	.regular {
		width: 100%;
		font-style: italic;
		font-size: ;
		text-align: left;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: #BCBCBC;
		border: none;
	}
	
	td.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	th.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	h1.title {
		font-size: 7vw;
	}
	
	span.archivedate {
		font-size: ;
		color: #4F4F4F;
	}
}

/* For MEDIUM devices (landscape tablets, this iPad in portrait, 768px and up) */
@media only screen and (min-width: 768px) {
	.main {
		float: left;
		width: 85%;
		padding-left: 5%;
		padding-right: 10%;
	}
	
	.normal {
		line-height: 1.4;
		font-size: 1.8vw;
	}
	
	.break {
		font-style: italic;
		font-size: 1.6vw;
		text-align: center;
		padding-top: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-left: 3%;
		background-color: #BCBCBC;
	}
	
	.regular {
		width: 100%;
		font-style: italic;
		font-size: 1.6vw;
		text-align: left;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: #BCBCBC;
		border: none;
	}
	
	td.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	th.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	h1.title {
		font-size: 4vw;
	}
	
	span.archivedate {
		font-size: 1.4vw;
		color: #4F4F4F;
	}
}

/* For LARGE devices (laptops and desktops, this iPad in landscape, 992px and up) */
@media only screen and (min-width: 992px) {
	.main {
		float: left;
		width: 60%;
		padding-left: 15%;
		padding-right: 25%;
	}
	
	.normal {
		line-height: 1.4;
		font-size: 1.6vw;
	}
	
	.break {
		font-style: italic;
		font-size: 1.4vw;
		text-align: center;
		padding-top: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-left: 3%;
		background-color: #BCBCBC;
	}
	
	.regular {
		width: 100%;
		font-style: italic;
		font-size: 1.4vw;
		text-align: left;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: #BCBCBC;
		border: none;
	}
	
	td.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	th.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	h1.title {
		font-size: 3vw;
	}
	
	span.archivedate {
		font-size: 1.2vw;
		color: #4F4F4F;
	}
}

/* For EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.main {
		float: left;
		width: 50%;
		padding-left: 15%;
		padding-right: 25%;
	}
	
	.normal {
		line-height: 1.4;
		font-size: 1.3vw;
	}
	
	.break {
		font-style: italic;
		font-size: 1.2vw;
		text-align: center;
		padding-top: 3%;
		padding-right: 3%;
		padding-bottom: 3%;
		padding-left: 3%;
		background-color: #BCBCBC;
	}
	
	.regular {
		width: 100%;
		font-style: italic;
		font-size: 1.2vw;
		text-align: left;
		padding-top: 3%;
		padding-bottom: 3%;
		background-color: #BCBCBC;
		border: none;
	}
	
	td.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	th.reg {
		border-bottom: 1px solid #4F4F4F;
		padding: 1%;
		padding-left: 2%;
	}
	
	h1.title {
		font-size: 3vw;
	}
	
	span.archivedate {
		font-size: 1vw;
		color: #4F4F4F;
	}
}

h4.tagline {
	color: #4F4F4F;
	text-align: left;
}

p.header {
	font-style: bold;
}

h4.dateline {
	color: #4F4F4F;
	text-align: right;
	font-style: italic;
}

hr.purple {
	border: 2px solid #9A68C5;
}

hr.grey {
	border: 2px solid #BCBCBC;
}

hr.black {
	border: 2px solid #4F4F4F;
}

a {
	color: blue;
	font-weight: bold;
}

a:visited {
	color: blue;
	font-weight: bold;
}

a.intra {
	color: #000000;
	text-decoration: none;
}

a.intra:visited {
	color: #000000;
	text-decoration: none;
}

mark.sd {
	color: #000000;
	background-color: #ceb2e7;
}

mark.cgpt {
	color: #000000;
	background-color: #c0ded7;
}
